body {
    background-color: black;
}

.btn-arrow {
    width: 20%;
}

.btn-arrow-right {
    float: left;
    margin: auto;
}

.btn-arrow-left {
    float: right;
    margin: auto;
}

.img-item {
    width: 50%;
    margin-left: 25%;
}

#section-clothes-shop {
    background-color: #77FFD7;
    width: 50%;
    margin: auto;
    border-style: solid;
    border-color: #F0B939;
    border-radius: 15px;
    border-width: 5px;
    padding-bottom: 25px;
}

#btn-randomize {
    background: #F0B939;    
    padding: 1em;
    width: 15%;
    display: block;
    margin: auto;
    border-style: solid;
    border-radius: 25px;
    border-width: 5px;
    border-color: #F0B939;
    font-family: verdana;
    font-size: 25px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    word-wrap: break-word;
}

h1 {
    text-align: center;
    color: white;
    font-family: verdana;
    font-size: 35px;
}